<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>logo.png">
    <script src="https://kit.fontawesome.com/e0b975e243.js" crossorigin="anonymous"></script>
    <title>Responsive Website Tester</title>
    <style>
        html, body, #app, .full {
            background: #E5E5E5;
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
            Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>
</html>
