<template>
    <main class="full" id="main">
        <TitleBar v-if="isDesktop" />

        <div v-if="loading" class="full-screen-message">
            <div class="fa-2x">
                <i class="fas fa-spinner fa-pulse"></i>
            </div>
            Loading...
        </div>

        <div v-if="displays.length === 0 && !loading" class="full-screen-message">
            No Displays Added
            <button class="button button--large" @click="showAddDisplayForm">Add Display</button>
        </div>

        <div v-if="displays.length !== 0 && !loading" class="displays">
            <Display
                v-for="display in displays"
                :key="display._id"
                :id="display._id"
                :url="url"
                :name="display.name"
                :height="display.height"
                :width="display.width"
                :icon="display.icon"
                @close-display="removeDisplay(display)"
            />
        </div>

        <div
            class="floating-button floating-button--bottom floating-button--left"
            :class="{'floating-button--no-shadow': showChangeUrlInput}"
            title="Change URL"
            @click="toggleUrlInput"
        >
            <i class="fas fa-search"></i>

            <input
                class="url-input"
                :class="{'url-input--show': showChangeUrlInput}"
                type="url"
                placeholder="New url"
                required
                :value="url"
                @click.stop
                @keyup.enter="changeUrl"
                ref="urlInput"
            >
        </div>

        <div
            class="floating-button floating-button--bottom floating-button--right"
            title="Add Display"
            @click="showAddDisplayForm"
        >
            <i class="fas fa-plus"></i>
        </div>

        <ContextMenu
            target="main"
            :items="[
                {title: 'Add Display', icon: 'fa-plus', click: showAddDisplayForm},
                {title: 'Add Custom Display', icon: 'fa-plus', click: showAddCustomDisplayForm},
                {type: 'separator'},
                {title: 'Change URL', icon: 'fa-search', click: toggleUrlInput},
                {type: 'separator'},
                {title: 'Sort Displays By Resolution', icon: 'fa-sort-amount-down-alt', click: sortDisplaysByResolution, disabled: displays.length < 2},
                {type: 'separator'},
                {title: 'Close All Displays', icon: 'fa-times', click: closeAllDisplays, disabled: displays.length === 0},
            ]"
        />

        <Popup ref="addDisplayPopup">
            <span slot="title">Add Display</span>
            <AddDisplay
                slot="content"
                :display-types="displaysTypes"
                @add-display="addDisplay(getDisplayTypeFromId($event))"
                @show-custom-display-form="showAddCustomDisplayForm"
            />
        </Popup>

        <Popup ref="customDisplayForm">
            <span slot="title">Add Custom Display</span>
            <AddCustomDisplay
                slot="content"
                @add="addCustomDisplay(false, $event)"
                @add-save="addCustomDisplay(true, $event)"
            />
        </Popup>
    </main>
</template>

<script>
    import TitleBar from "./TitleBar";
    import Display from "./Display";
    import Popup from "./Popup";
    import AddDisplay from "./forms/AddDisplay";
    import AddCustomDisplay from "./forms/AddCustomDisplay";
    import ContextMenu from "./ContextMenu";

    export default {
        name: "App",
        components: {
            AddDisplay,
            AddCustomDisplay,
            Popup,
            Display,
            TitleBar,
            ContextMenu
        },
        data() {
            return {
                loading: true,
                displaysTypes: {},
                displays: [],
                url: "",
                showChangeUrlInput: false,
                isDesktop: null,
            }
        },
        beforeMount() {
            this.isDesktop = window.isDesktop;

            window.dataRemote.displayTypesDb.findAll()
                .then(displaysTypes => this.displaysTypes = displaysTypes)
                .catch(err => console.error(err));

            window.dataRemote.displaysDb.findAll()
                .then(displays => {
                    this.displays = displays;
                    this.loading = false;
                })
                .catch(err => console.error(err));
        },
        methods: {
            /**
             * Shows the input to change the URL.
             */
            toggleUrlInput() {
                this.showChangeUrlInput = !this.showChangeUrlInput;

                if (this.showChangeUrlInput)
                    this.$refs.urlInput.focus();
            },

            /**
             * Changes the URL to the website which all the iframes display.
             *
             * @param e - Event to get the URL.
             */
            changeUrl(e) {
                this.url = e.target.value;
            },

            /**
             * Shows the add display form.
             */
            showAddDisplayForm() {
                this.$refs.addDisplayPopup.toggle(true);
            },

            /**
             * Shows the add custom display form.
             */
            showAddCustomDisplayForm() {
                this.$refs.addDisplayPopup.toggle(false);
                this.$refs.customDisplayForm.toggle(true);
            },

            /**
             * Get display type via ID from array.
             *
             * @param {string} id - ID of display type.
             *
             * @return {object} - Returns the display type.
             */
            getDisplayTypeFromId(id) {
                return this.displaysTypes.find(displayType => displayType._id === id)
            },

            /**
             * Adds a display to the screen.
             *
             * @param {object} display - ID of the display type to add.
             */
            addDisplay(display) {
                this.$refs.addDisplayPopup.toggle(false);

                window.dataRemote.displaysDb.insert(display)
                    .then(newDoc => this.displays.push(newDoc))
                    .catch(err => console.error(err));
            },

            /**
             * Adds a display to the screen.
             *
             * @param {boolean} save - If true permanently save the display.
             * @param {object} display - Display Object.
             */
            addCustomDisplay(save, display) {
                this.$refs.customDisplayForm.toggle(false);

                this.addDisplay(display);

                if (save)
                    window.dataRemote.displayTypesDb.insert(display)
                        .then(newDoc => this.displaysTypes.push(newDoc))
                        .catch(err => console.error(err));
            },

            /**
             * Removes a display to the screen.
             *
             * @param {object} display - ID of the display type to remove.
             */
            removeDisplay(display) {
                window.dataRemote.displaysDb.remove(display._id)
                    .then(numRemoved => this.displays.splice(this.displays.findIndex(d => d._id === display._id), 1))
                    .catch(err => console.error(err));
            },

            /**
             * Closes all the displays.
             */
            closeAllDisplays() {
                this.displays.forEach(display => this.removeDisplay(display));
            },

            /**
             * Re-orders the displays by their resolution.
             */
            sortDisplaysByResolution() {
                this.displays.sort((a, b) => (a.height * a.width) - (b.height * b.width))
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../scss-partials/base";

    .displays {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        height: calc(100% - 30px);
        justify-content: center;
        padding: 10px;
        overflow: auto;
    }

    .url-input {
        border-radius: 25px;
        border: none;
        box-sizing: border-box;
        font-size: 16px;
        position: absolute;
        left: 0;
        height: 50px;
        transition: all .5s linear;
        width: 0;
        z-index: -50;

        &:focus {
            outline: none;
        }

        &.url-input--show {
            border: 1px solid $primary-green;
            padding-left: 60px;
            width: 400px;
        }
    }
</style>
