<template>
    <div class="context-menu" ref="contextMenu">
        <div v-for="(item, index) in items" :key="index">
            <div v-if="item.type !== 'separator'" class="context-menu__item" :class="{'context-menu__item--disabled': item.disabled}" @click="!item.disabled ? item.click() : null">
                <div class="context-menu__icon">
                    <i class="fas" :class="[item.icon || 'context-menu__icon-blank', {'context-menu__icon--active': item.active}]"></i>
                </div>
                <div class="context-menu__title">
                    {{ item.title }}
                </div>
            </div>
            <div v-else class="context-menu__separator"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ContextMenu",
        props: {
            target: String,
            items: Array,
        },
        mounted() {
            document.addEventListener("click", (e) => this.toggle(false, e));
            document.addEventListener("contextmenu", this.closeIfOutsideTargetElement);
            document.getElementById(this.target).addEventListener("contextmenu", (e) => this.toggle(true, e))
        },
        methods: {
            /**
             * Toggles the context menu.
             *
             * @param {boolean} show - If true show the context menu, else hide it.
             * @param event - Click event instance.
             */
            toggle(show, event) {
                if (show) {
                    // TODO: Stop it from leaving the page
                    this.$refs.contextMenu.style.visibility = "visible";
                    this.$refs.contextMenu.style.left = event.pageX + "px";
                    this.$refs.contextMenu.style.top = event.pageY + "px";
                } else {
                    this.$refs.contextMenu.style.visibility = "hidden";
                }
            },

            /**
             * Closes the context menu the the click is outside the target element.
             *
             * @param e - Click event instance.
             */
            closeIfOutsideTargetElement(e) {
                let targetEl = document.getElementById(this.target).getBoundingClientRect();

                // If the click is outside the target element then close the context menu
                if (e.clientX < targetEl.left || e.clientX > targetEl.right || e.clientY < targetEl.top || e.clientY > targetEl.bottom)
                    this.toggle(false, e)
            },
        },
    }
</script>

<style scoped lang="scss">
    @import "../scss-partials/base";

    .context-menu {
        background: $context-menu;
        box-shadow: $context-menu-shadow;
        color: black;
        cursor: default;
        font-size: 16px;
        height: fit-content;
        left: 0;
        line-height: 40px;
        position: fixed;
        text-align: left;
        top: 0;
        user-select: none;
        visibility: hidden;
        width: fit-content;
        z-index: 1000;

        .context-menu__separator {
            background: $context-menu-separator;
            height: 1px;
            width: 100%;
        }

        .context-menu__item {
            background: $context-menu;
            height: 40px;
            white-space: nowrap;
            width: 100%;
            min-width: 150px;

            &:hover {
                background: $context-menu-item-hover;
            }

            &.context-menu__item--disabled {
                color: $context-menu-item-disabled;

                &:hover {
                    background: $context-menu;
                }

                .context-menu__icon {
                    color: $context-menu-item-disabled;
                }
            }

            .context-menu__icon {
                color: $context-menu-icon;
                display: inline-block;
                height: 40px;
                line-height: 40px;
                text-align: center;
                width: 40px;
            }

            &:not([class~="disabled"]) .context-menu__icon .context-menu__icon--active {
                color: $context-menu-icon-active;
            }

            .context-menu__blank {
                color: transparent;
            }

            .context-menu__title {
                display: inline-block;
                height: 40px;
                min-width: 100px;
                padding-right: 20px;
                width: fit-content;
            }
        }
    }
</style>
