<template>
    <div class="display" :id="id">
        <div class="display__info-bar">
        <span class="display__info">
            <i :class="icon"></i> {{ name }} {{ width }}x{{ height }}
        </span>
        <span class="display__options">
            <i class="fas fa-sync-alt display__option" @click="mainOrientation = !mainOrientation"></i>
            <i class="fas fa-times display__option" @click="$emit('close-display')"></i>
        </span>
        </div>
        <!--suppress HtmlUnknownTarget -->
        <iframe
            class="display__iframe"
            :src="url === '' ? 'iframe-placeholder.html' : url"
            :height="mainOrientation ? height : width"
            :width="mainOrientation ? width : height"
        >
        </iframe>
    </div>
</template>

<script>
    export default {
        name: "Display",
        props: {
            id: String,
            url: String,
            name: String,
            height: Number,
            width: Number,
            icon: String,
        },
        data() {
            return {
                mainOrientation: true,
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../scss-partials/base";

    .display {
        margin: 0 10px 20px 10px;

        .display__info-bar {
            align-items: center;
            color: $dark-text;
            display: flex;
            font-size: 12px;
            justify-content: space-between;
            height: 30px;

            .display___info {

            }

            .display__options {
                align-items: center;
                display: flex;
                font-size: 14px;
                justify-content: flex-end;

                .display__option {
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    height: 30px;
                    justify-content: center;
                    width: 30px;

                    &:hover {
                        color: #222;
                    }
                }
            }
        }

        .display__iframe {
            box-shadow: $shadow;
            border: none;
        }
    }
</style>
