<template>
    <div class="overlay" v-bind:class="{'hidden': !visible}" @click="toggle(false)">
        <div class="popup" @click.stop>
            <div class="popup__header">
                <slot name="title"></slot>
                <i class="fas fa-times popup__close" @click="toggle(false)"></i>
            </div>
            <div class="popup__body">
                <slot name="content"></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Popup",
        data() {
            return {
                visible: false,
            }
        },
        methods: {
            /**
             * Toggles the popup from visible and hidden.
             *
             * @param {boolean} isVisible - If true it will show the popup, else it will hide it.
             */
            toggle(isVisible) {
                this.visible = isVisible;
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../scss-partials/base";

    .overlay {
        align-items: center;
        background: rgba(0, 0, 0, 0.75);
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        position: fixed;
        top: 0;
        transition: opacity .2s linear;
        width: 100%;
        z-index: 9999;

        &.hidden {
            display: none;
        }
    }

    .popup {
        box-shadow: $shadow;
        display: flex;
        flex-direction: column;
        height: fit-content;
        min-height: 300px;
        min-width: 300px;
        width: fit-content;
        z-index: 10000;

        .popup__header {
            align-items: center;
            display: flex;
            background: $primary;
            font-weight: bold;
            justify-content: center;
            color: white;
            height: 30px;
            position: relative;
            z-index: 10000;

            .popup__close {
                cursor: pointer;
                height: 30px;
                line-height: 30px;
                position: absolute;
                right: 0;
                text-align: center;
                transition: color .1s linear;
                width: 30px;

                &:hover {
                    color: tint($warning, 30%);
                }
            }
        }

        .popup__body {
            background: white;
            flex-grow: 1;
            z-index: 10000;
        }
    }
</style>
