<template>
    <header class="title-bar">
        <div class="title-bar__title">
            <img src="../assets/logo.png" alt="Responsive Website Tester Logo" height="20" width="20" style="margin-right: 10px" />
            Responsive Website Tester
        </div>

        <div class="title-bar__window-options">
            <div class="title-bar__window-option" @click="openDevTools">
                <i class="fas fa-wrench"></i>
            </div>
            <div class="title-bar__window-option" @click="minimise">
                <i class="fas fa-minus"></i>
            </div>
            <div class="title-bar__window-option" @click="maximiseOrRestore">
                <i class="far fa-square"></i>
            </div>
            <div class="title-bar__window-option title-bar__window-option--warning" @click="quit">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        name: "TitleBar",
        methods: {
            /**
             * Opens dev tools.
             *
             * NOTE: Only use in development.
             */
            openDevTools() {
                window.windowRemote.openDevWindow();
            },

            /**
             * Minimises the window.
             */
            minimise() {
                window.windowRemote.minimise();
            },

            /**
             * Maximises or restores the window.
             */
            maximiseOrRestore() {
                window.windowRemote.maximiseOrRestore();
            },

            /**
             * Quites the window.
             */
            quit() {
                window.windowRemote.quit();
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../scss-partials/base";

    .title-bar {
        align-items: center;
        background: $primary;
        color: white;
        display: flex;
        height: 30px;
        justify-content: space-between;
        position: sticky;
        top: 0;
        width: 100%;
        -webkit-app-region: drag;

        .title-bar__title {
            align-items: center;
            display: flex;
            font-size: 12px;
            height: 30px;
            justify-content: flex-start;
            margin-left: 10px;
            -webkit-app-region: no-drag;
        }

        .title-bar__window-options {
            display: flex;
            -webkit-app-region: no-drag;

            .title-bar__window-option {
                align-items: center;
                cursor: pointer;
                display: flex;
                height: 30px;
                justify-content: center;
                width: 30px;

                &:hover {
                    background: tint($primary-blue, 20%);
                }

                &.title-bar__window-option--warning:hover {
                    background: tint($warning, 30%);
                }
            }
        }
    }
</style>
