@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

@function tint-primary($percentage) {
    @return linear-gradient(
        to right,
        tint($primary-green, $percentage),
        tint($primary-blue, $percentage),
    );
}

@function shade-primary($percentage) {
    @return linear-gradient(
        to right,
        shade($primary-green, $percentage),
        shade($primary-blue, $percentage),
    );
}
