*:not(i) {
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    background: transparent;
    height: 20px;
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
    border: 8px solid #E5E5E5;

    &:hover{
        background: shade-primary(10%);
        border-width: 6px;
    }
}

.full-screen-message {
    align-items: center;
    color: $dark-text;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: bold;
    height: calc(100% - 70px);
    justify-content: center;
    text-align: center;
    width: 100%;

    & > * {
        margin: 30px;
    }
}

.button {
    align-items: center;
    background: $primary;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    justify-content: center;
    height: 50px;
    width: 175px;

    &:hover {
        background: shade-primary(10%);
    }

    &:focus {
        outline: none;
    }

    &.button--large {
        border-radius: 50px;
        font-size: 20px;
        height: 60px;
        width: 250px;
    }
}

.floating-button {
    align-items: center;
    background: $primary;
    border-radius: 25px;
    box-shadow: 2px 2px 3px rgba(black, .3);
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 50px;
    justify-content: center;
    position: fixed;
    width: 50px;
    z-index: 500;

    &:hover {
        background: shade-primary(10%);
    }

    &.floating-button--no-shadow {
        box-shadow: none;
    }

    &.floating-button--top {
        top: 20px;
    }

    &.floating-button--bottom {
        bottom: 20px;
    }

    &.floating-button--left {
        left: 20px;
    }

    &.floating-button--right {
        right: 20px;
    }

    & > i {
        align-items: center;
        background: $primary;
        border-radius: 25px;
        color: white;
        display: flex;
        height: 50px;
        justify-content: center;
        position: fixed;
        width: 50px;

        &:hover {
            background: shade-primary(10%);
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 550px;

    .form__field {
        align-items: center;
        display: flex;
        margin: 10px 0;
        width: 100%;

        .form__input {
            margin: 0 5px;
        }
    }

    .form__input {
        background: #E5E5E5;
        border-radius: 25px;
        border: none;
        box-sizing: border-box;
        font-size: 16px;
        height: 50px;
        margin: 5px;
        padding-left: 15px;
        width: 100%;

        &:focus {
            outline: none;
        }

        &.form__input--hide-number-arrows {
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    .form__submit {
        @extend .button;

        margin: 5px;
        width: 100%;
    }
}
