@mixin triangle ($direction, $size, $color) {
    border: $size solid transparent;
    height: 0;
    width: 0;

    @if $direction == "up" {
        border-bottom-color: $color;
    } @else if $direction == "down" {
        border-top-color: $color;
    } @else if $direction == "left" {
        border-right-color: $color;
    } @else if $direction == "right" {
        border-left-color: $color;
    } @else {
        @error "Direction #{$direction} is not a valid direction. (Must be either left, right, up, down)"
    }
}

@mixin center($margin: auto) {
    left: 0;
    margin: $margin;
    right: 0;
}

