$primary-green: #25BD69;
$primary-blue: #3BC1BC;
$primary: linear-gradient(to right, $primary-green, $primary-blue);

$warning: #CB2A2A;

$context-menu: #F2F2F2;
$context-menu-shadow: 1px 1px 5px rgba(black, .5);
$context-menu-separator: #C1C1C1;
$context-menu-item-hover: white;
$context-menu-item-disabled: #C3C3C3;
$context-menu-icon: #444;
$context-menu-icon-active: $primary-blue;

$light-text: #888;
$dark-text: #555;

$shadow: 0 3px 5px rgba(black, .5);
