<template>
    <form class="form" @submit.prevent>
        <div class="form__field">
            <input
                v-model="display.name"
                class="form__input"
                type="text"
                placeholder="Display Name"
            >
        </div>
        <div class="form__field">
            <input
                v-model="display.width"
                class="form__input form__input--hide-number-arrows"
                type="number"
                placeholder="Width"
            >
            <i
                class="fas fa-times"
                style="color: #707070; font-size: 20px;"
            ></i>
            <input
                v-model="display.height"
                class="form__input form__input--hide-number-arrows"
                type="number"
                placeholder="Height"
            >
        </div>

        <div class="form__field">
            <select v-model="display.icon" class="form__input">
                <option disabled value="">Display Type</option>
                <option value="fas fa-mobile-alt">Mobile</option>
                <option value="fas fa-tablet-alt">Tablet</option>
                <option value="fas fa-laptop">Laptop</option>
                <option value="fas fa-desktop">Desktop</option>
            </select>
        </div>

        <div class="form__field">
            <input
                class="form__submit"
                name="add"
                type="submit"
                value="Add Display"
                @click="submit(false)"
            >
            <input
                v-if="isDesktop"
                class="form__submit"
                name="save_add"
                type="submit"
                value="Save & Add Display"
                title="Save the display for later use"
                @click="submit(true)"
            >
        </div>
    </form>
</template>

<script>
    export default {
        name: "AddCustomDisplay",
        data() {
            return {
                display: {
                    isDesktop: null,
                    name: "",
                    height: "",
                    width: "",
                    icon: "",
                    custom: true,
                }
            }
        },
        beforeMount() {
            this.isDesktop = window.isDesktop;
        },
        methods: {
            /**
             * Resets the form data.
             */
            resetData() {
                this.display = {
                    name: "",
                    height: "",
                    width: "",
                    icon: "",
                    custom: true,
                }
            },

            /**
             * Submits the form.
             *
             * @param {boolean} save - True is to permanently save the display.
             */
            submit(save) {
                if (save)
                    this.$emit("add-save", this.display);
                else
                    this.$emit("add", this.display);

                this.resetData();
            }
        }
    };
</script>

<style scoped lang="scss">
    @import "../../scss-partials/base";
</style>
