<template>
    <div v-if="displayGroup === ''" class="add-display-type-groups">
        <div class="add-display-type-groups__group" @click="displayGroup = 'mobile'">
            <i class="fas fa-mobile-alt"></i>
            Mobile
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="add-display-type-groups__group" @click="displayGroup = 'tablet'">
            <i class="fas fa-tablet-alt"></i>
            Tablet
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="add-display-type-groups__group" @click="displayGroup = 'laptop'">
            <i class="fas fa-laptop"></i>
            Laptop
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="add-display-type-groups__group" @click="displayGroup = 'desktop'">
            <i class="fas fa-desktop"></i>
            Desktop
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="add-display-type-groups__group" @click="$emit('show-custom-display-form')">
            <i class="fas fa-expand"></i>
            Custom
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
    <div v-else class="add-display-form">
        <div class="add-display-type" @click="displayGroup = ''">
            <i class="fas fa-chevron-left add-display-type__icon"></i>
            <span>Back</span>
        </div>
        <div v-for="displayType in displayTypes.filter(d => d.type === displayGroup).sort(orderDisplaysByScreenSize)" :key="displayType._id" class="add-display-type" :class="displayType.custom ? 'add-display-type--custom' : ''" @click="$emit('add-display', displayType._id)">
           <i class="add-display-type__icon" :class="displayType.icon"></i>
           <span>{{ displayType.name }}</span>
           <span>{{ displayType.width }}x{{displayType.height }}</span>
        </div>
        <div class="add-display-type" @click="$emit('show-custom-display-form')">
           <i class="fas fa-expand add-display-type__icon"></i>
           <span>Custom</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddDisplay",
        props: {
            displayTypes: Array,
        },
        data() {
            return {
                displayGroup: "",
            }
        },
        methods: {
            /**
             * Takes the list of displays and orders then by their resolution (height * width).
             *
             * @param {object} a - Display A.
             * @param {object} b - Display B (next display after A).
             * @returns {number} - Returns the difference and can be used to sort the array.
             */
            orderDisplaysByScreenSize: (a, b) => (a.height * a.width) - (b.height * b.width),
        }
    };
</script>

<style scoped lang="scss">
    @import "../../scss-partials/base";

    %base-item-style {
        align-items: center;
        background: #E5E5E5;
        box-shadow: 0 2px 5px rgba(black, .1);
        color: $dark-text;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        margin: 5px;
        padding: 10px;
        text-align: center;
        transition: background-color .25s linear;

        &:hover {
            background: shade(#E5E5E5, 10%);
        }
    }

    .add-display-type-groups {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;

        .add-display-type-groups__group {
            @extend %base-item-style;

            flex-direction: row;
            font-size: 20px;
            height: 50px;
            width: 250px;
        }
    }

    .add-display-form {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        width: 650px;

        .add-display-type {
            @extend %base-item-style;

            flex-direction: column;
            font-size: 12px;
            height: 100px;
            width: 100px;

            &.add-display-type--custom {
                font-style: italic;
                font-weight: bold;
            }

            .add-display-type__icon {
                font-size: 20px;
            }
        }
    }
</style>
